.jumbotron {
  /*background: #53aff6;
  background-image: url("/seaskyFlip800w.png" );
  */
  background: url("/seaskyFlip800w.png");
  background-repeat: no-repeat;
  background-size: 100%;  
  border-radius: 0;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #53aff6;
    border-color: #53aff6; }
    .jumbotron .btn-primary:hover {
      background: #53aff6; }
  .jumbotron p {
    color: #ffffff;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 0%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

