<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Cover Template · Bootstrap</title>

    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cover.css" />

  </head>
  
  <body >

  <div class="header text-center">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Ocean Host LLC</h1>
      <p class="lead">Clear coordination for virtual meetings, arbitrations, and mediations.</p>
    </main>
  
  </div>
      
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
<!--
    <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Ocean Host LLC</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

-->
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Our Services</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <ul>
      <li>Ocean Host provides coordination services for online (virtual) meetings.</li>
      <li>We are your conference coordinator for virtual arbitration hearings and mediation sessions.</li>
      <li>We provide support to the participants, to ensure an effective arbitration hearing.</li>
      <li>We handle meeting invites, meeting tech prep, and tech facilitation of the meeting.</li>
      </ul>

    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>


  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>footer here</p>
    </div>
  </footer>
</div>
</body>
</html>
