<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Ocean Host LLC</h1>
    <p>Clear coordination for virtual meetings, arbitrations, and mediations.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Our Services</h3>
      </div>
  <div class="row">
        <ul>
        <li>Ocean Host provides coordination services for online (virtual) meetings.</li>
        <li>We are your conference coordinator for virtual arbitration hearings and mediation sessions.</li>
        <li>We provide support to the participants, to ensure an effective arbitration hearing.</li>
        <li>We handle meeting invites, meeting tech prep, and tech facilitation of the meeting.</li>
        </ul>
  </div>
  <div class="row">
    <h3><span class="glyphicon glyphicon-link"></span>What's Next</h3>
    </div>
  <div class="row">
      <ul>
        <li>Contact us to learn more about how our services match your needs.</li>
      </ul>
  </div> <!-- row -->
</div>


</body>
</html>
